html
{
    padding: 0;
    margin: 0;
}

body
{
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #353833;
}

ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

li
{
    padding: 0;
    margin: 0;
}

a
{
    color: #4C6B87;
    text-decoration: none;
}

a:hover
{
    color: #bb7a2a;
}

nav li
{
    float: left;
}

#mainNav
{
    height: 44px;
    background-color: rgb(98,137,163);
    background-image: linear-gradient(bottom, rgb(98,137,163) 0%, rgb(60,88,107) 100%);
    background-image: -o-linear-gradient(bottom, rgb(98,137,163) 0%, rgb(60,88,107) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(98,137,163) 0%, rgb(60,88,107) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(98,137,163) 0%, rgb(60,88,107) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(98,137,163) 0%, rgb(60,88,107) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c586b, endColorstr=#6289a3);
}

#mainNav ul
{
    padding-top: 15px;
    padding-left: 5px;
}

#mainNav li
{
    padding-left: 15px;
}

#mainNav a
{
    color: #fff;
}

#subNav
{
    height: 26px;
    background: #dee3e9;
    border-bottom: solid 1px #9eadc0;
}

#subNav ul
{
    padding-top: 5px;
    padding-left: 10px;
}

#subNav li
{
    padding-left: 10px;
}

#subNav li:after
{
    content: "|";
    padding-left: 10px;
    color: #999;
}

#subNav li:last-child:after
{
    content: "";
}

#body
{
    padding: 20px 20px 0 20px;
}

#body h1
{
    margin: 0 0 1em 0;
    color: #2c4557;
    font-size: 22px;
    font-weight: bold;    
}

#body h2
{
    margin: 0 0 1em 0;
    color: #2c4557;
    font-size: 18px;    
    font-weight: bold;    
}

#body h3
{
    margin: 0 0 1em 0;
    color: #2c4557;
    font-size: 16px;
    font-weight: bold;    
}

#body > dl
{
    margin: 0;
    padding: 0 0 1em 0;
}

#body > dl > dt
{    
    color: #2c4557;
    font-size: 13px;
    font-weight: bold;    
}

#body > dl > dd
{
    margin: 0;
    padding: 5px 0 0 20px;
}

#body .classSignature, #body .interfaceSignature
{
    font-family: monospace;
    margin-bottom: 1em;
}

#body .classSignature .className, #body .interfaceSignature .interfaceName
{
    font-weight: bold;
}

#body > div.description
{
    margin-bottom: 30px;
}

#body div.namespace
{
    margin-bottom: 0.5em;
}

#body section
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#body div.inherited_methods
{
    border: solid 1px #9eadc0;
    border-top: none;
}

#body div.inherited_methods h4
{
    margin: 0;
    font-weight: bold;
    background: #dee3e9;
    border-top: solid 1px #9eadc0;
    border-bottom: solid 1px #9eadc0;
    padding: 5px 10px;
}

#body div.inherited_methods p
{
    padding: 5px 10px;
    margin: 0 0 0.5em 0;
    font-family: monospace;
    line-height: 1.5em;
}

#body table
{
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    border: solid 1px #9eadc0; 
    width: 100%;
    margin: 0 0 1em 0;
}

#body th
{
    font-weight: bold;
    text-align: left;
    background: #dee3e9;
    border-bottom: solid 1px #9eadc0;
    padding: 5px 10px; 
}

#body td
{
    padding: 5px 10px;
    line-height: 1.5em;
}

#body tr:nth-child(even)
{
    background: #eee;
}

#body th.type, #body td.type
{
    white-space: nowrap;
    vertical-align: top;       
}

#body th.description, #body td.description
{
    width: 100%;
}

#body code
{
    font-family: monospace;
}

#body div.detail
{
    border: solid 1px #9eadc0; 
    margin: 0 0 20px 0; 
    padding: 0 0 5px 0;   
}

#body div.detail h4
{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    background: #dee3e9;
    border-bottom: solid 1px #9eadc0;
    padding: 5px 10px;
}

#body div.detail code.syntax
{
    display: block;
    padding: 10px 10px 5px 10px;
}

#body div.detail div.description
{
    padding: 5px 10px 10px 10px;
}

#body div.detail h5
{
    padding: 5px 10px 0 10px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;    
}

#body div.detail h5:after
{
    content: ":";
}

#body dl.params,
#body dl.return
{
    margin: 0;
    padding: 5px 10px 5px 30px;
    line-height: 1.5em;
}

#body dl.params dt,
#body dl.return dt
{    
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
}

#body dl.params dt:after.
#body dl.return dt:after
{
    content: "-";
    margin-left: 10px;
}

#body dl.params dd,
#body dl.return dd
{
    margin: 0;
    padding: 1px 0 0 0;
}

#body dl.params dd:after,
#body dl.return dd:after
{
    content: "";
    display: block;
    clear: both;
}

#body div.classTree, #body div.interfaceTree
{
    margin-bottom: 1em;
}

#body div.classTree div, #body div.interfaceTree div
{
    padding-left: 20px;
}

footer
{
    margin: 0;
    background: #dee3e9;
    border-bottom: solid 1px #9eadc0;
    border-top: solid 1px #9eadc0;
}

footer p
{
    font-size: 11px;
    text-align: right;
    padding: 5px 20px;
    margin: 0;
}

#body dl.tags
{
    margin: 0;
    padding: 0;
}

#body div.detail dl.tags
{
    padding-left: 10px;
}

#body dl.tags dt
{
    float: none;
    padding: 5px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    margin: 0;    
}

#body dl.tags dt:after
{
    content: ":";
}

#body dl.tags dd
{
    padding: 5px 0 5px 20px;
    margin: 0;
    line-height: 1.5em;
}

#body .deprecated
{
    font-style: italic;
}

#body .deprecated:before
{
    content: "Deprecated. ";
    font-weight: bold;
    font-style: normal;
}

#body.deprecated-page .deprecated:before
{
    content: none;
}

#body dl.index dt
{
    font-weight: normal;
}

#body dl.index dt .symbol
{
    font-weight: bold;
}

#body dl.index dd
{
    padding-left: 20px;
    margin-bottom: 1em;
}

#body a.code
{
    font-family: monospace;
}
}